* {
	text-align: center;
}

.container {
	height: 100%;
	width: 100%;

}



.navbar-header {
	text-align: center;
}


body {
	background-image: url('../images/travel-logo.jpg');
	background-size: 100%;
	
	background-size: cover;
	background-position: bottom 10px;
 	background-repeat: no-repeat;
	font-family: 'Cinzel', serif;
	
}

p {
	text-align: center;
	font-style: bold;
	font-size: 24px;
}



h1 {
	font-size: 50px;
	font-style: italic;
}

h2 {
	font-size: 25px;
}

img {
	max-width: 100%;
}
img {
    padding: 15px;
}

.gifSection div {
    display: inline-block;
    font-size: 20px;
    text-align: center;
}

.gifSection h1 {
	text-align: left;
	font-size: 25px;
}


/*Input*/

#btn-section {
    background-color: #90969e;
    font-size: 24;
    border-radius: 10px;

}


/*Gif Buttons */

.gif {
    margin: 20px auto;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.gifStart {
    margin-top: 10px;
    text-align: center;
}

